# OpenAI config
OPENAI_API_KEY=
OPENAI_API_BASE=

# LANGSMITH
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=pr-virtual-zinc-36

# Flask config
FLASK_DEBUG=1
FLASK_ENV=development

# WTForms config
WTF_CSRF_ENABLED=False

# SQLALCHEMY CONFIG
SQLALCHEMY_POOL_SIZE=30
SQLALCHEMY_POOL_RECYCLE=3600
SQLALCHEMY_ECHO=True
SQLALCHEMY_DATABASE_URI=