alembic==1.17.0
Flask==3.1.2
flask_cors==6.0.1
Flask_Migrate==4.1.0
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
injector==0.22.0
langchain==1.0.2
langchain_community==0.4.1
langchain_core==1.0.1
pydantic==2.12.3
pytest==7.4.4
pytest==8.4.2
python-dotenv==1.2.1
WTForms==3.2.1
